fileTypes: [
  "sublime-build"
  "sublime-commands"
  "sublime-completions"
  "sublime-keymap"
  "sublime-macro"
  "sublime-menu"
  "sublime-mousemap"
  "sublime_session"
  "sublime-settings"
  "sublime-theme"
]
name: "JSON (Sublime Text)"
patterns: [
  {
    include: "source.json"
  }
]
scopeName: "source.json.subl"