'context-menu':
  'atom-text-editor': [
    {
      'label': 'Atomizr (automatic)'
      'command': 'atomizr:automatic-conversion'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atomizr'
      'submenu': [
        {
          'label': 'Automatic Conversion'
          'command': 'atomizr:automatic-conversion'
        },
        { 'type': 'separator' },
        {
          'label': 'Toggle Atom format (CSON↔JSON)'
          'command': 'atomizr:toggle-atom-format'
        },
        {
          'label': 'Convert Atom to Sublime Text'
          'command': 'atomizr:convert-atom-to-sublime-text'
        },
        {
          'label': 'Convert Atom to Visual Studio Code'
          'command': 'atomizr:convert-atom-to-visual-studio-code'
        },
        { 'type': 'separator' },
        {
          'label': 'Toggle Sublime Text format (XML↔JSON)'
          'command': 'atomizr:toggle-sublime-sublformat'
        },
        {
          'label': 'Convert Sublime Text to Atom'
          'command': 'atomizr:convert-sublime-text-to-atom'
        },
        {
          'label': 'Convert Sublime Text to Visual Studio Code'
          'command': 'atomizr:convert-sublime-text-to-visual-studio-code'
        }
        { 'type': 'separator' },
        {
          'label': 'Convert Visual Studio Code to Atom'
          'command': 'atomizr:convert-visual-studio-code-to-atom'
        },
        {
          'label': 'Convert Visual Studio Code to Sublime Text'
          'command': 'atomizr:convert-visual-studio-code-to-sublime-text'
        }
      ]
    ]
  }
]
