'context-menu':
  'atom-text-editor': [
    {
      'label': 'Atomizr (automatic)'
      'command': 'atomizr:automatic-conversion'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atomizr'
      'submenu': [
        {
          'label': 'Automatic Conversion'
          'command': 'atomizr:automatic-conversion'
        },
        { 'type': 'separator' },
        {
          'label': 'Convert Atom to Sublime Text'
          'command': 'atomizr:convert-atom-to-sublime-text'
        },
        {
          'label': 'Convert Sublime Text to Atom (completions)'
          'command': 'atomizr:convert-sublime-text-completions-to-atom'
        }
        {
          'label': 'Convert Sublime Text to Atom (snippet)'
          'command': 'atomizr:convert-sublime-text-snippet-to-atom'
        }
        { 'type': 'separator' },
        {
          'label': 'Convert Atom snippet format (CSON↔JSON)'
          'command': 'atomizr:convert-atom-format'
        }
      ]
    ]
  }
]
