'context-menu':
  'atom-text-editor': [
    {
      command: 'atomizr:automatic-conversion'
      label: 'Atomizr (automatic)'
    }
  ]
menu: [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Atomizr'
        submenu: [
          {
            command: 'atomizr:automatic-conversion'
            label: 'Automatic Conversion'
          }
          {
            type: 'separator'
          }
          {
            command: 'atomizr:toggle-atom-format'
            label: 'Toggle Atom format (CSON\u2194JSON)'
          }
          {
            command: 'atomizr:convert-atom-to-sublime-text'
            label: 'Convert Atom to Sublime Text'
          }
          {
            command: 'atomizr:convert-atom-to-textmate'
            label: 'Convert Atom to TextMate'
          }
          {
            command: 'atomizr:convert-atom-to-visual-studio-code'
            label: 'Convert Atom to Visual Studio Code'
          }
          {
            type: 'separator'
          }
          {
            command: 'atomizr:toggle-sublime-sublformat'
            label: 'Toggle Sublime Text format (XML\u2194JSON)'
          }
          {
            command: 'atomizr:convert-sublime-text-to-atom'
            label: 'Convert Sublime Text to Atom'
          }
          {
            command: 'atomizr:convert-sublime-text-to-textmate'
            label: 'Convert Sublime Text to Textmate'
          }
          {
            command: 'atomizr:convert-sublime-text-to-visual-studio-code'
            label: 'Convert Sublime Text to Visual Studio Code'
          }
          {
            type: 'separator'
          }
          {
            command: 'atomizr:convert-textmate-to-atom'
            label: 'Convert Textmate to Atom'
          }
          {
            command: 'atomizr:convert-textmate-to-sublime-text'
            label: 'Convert Textmate to Sublime Text'
          }
          {
            command: 'atomizr:convert-textmate-to-visual-studio-code'
            label: 'Convert Textmate to Visual Studio Code'
          }
          {
            type: 'separator'
          }
          {
            command: 'atomizr:convert-visual-studio-code-to-atom'
            label: 'Convert Visual Studio Code to Atom'
          }
          {
            command: 'atomizr:convert-visual-studio-code-to-sublime-text'
            label: 'Convert Visual Studio Code to Sublime Text'
          }
          {
            type: 'separator'
          }

          {
            command: 'atomizr:open-package-settings'
            label: 'Open Package Settings'
          }
        ]
      }
    ]
  }
]
