'.platform-darwin atom-text-editor':
  'ctrl-c ctrl-c': 'atomizr:automatic-conversion'
  'ctrl-a ctrl-a': 'atomizr:convert-atom-format'
  'ctrl-a ctrl-s': 'atomizr:convert-atom-to-sublime-text'
  'ctrl-s ctrl-a': 'atomizr:convert-sublime-text-completions-to-atom'
'.platform-linux atom-text-editor, .platform-win32 atom-text-editor':
  'ctrl-alt-c ctrl-alt-c': 'atomizr:automatic-conversion'
  'ctrl-alt-a ctrl-alt-a': 'atomizr:convert-atom-format'
  'ctrl-alt-a ctrl-alt-s': 'atomizr:convert-atom-to-sublime-text'
  'ctrl-alt-s ctrl-alt-a': 'atomizr:convert-sublime-text-completions-to-atom'
