'atom-text-editor':
  'ctrl-c ctrl-c': 'atomizr:automatic-conversion'
  'ctrl-a ctrl-a': 'atomizr:convert-atom-format'
  'ctrl-a ctrl-s': 'atomizr:convert-atom-to-sublime-text'
  'ctrl-s ctrl-a': 'atomizr:convert-sublime-text-completions-to-atom'
