'.platform-darwin atom-text-editor, .platform-darwin .tree-view':
  'ctrl-a ctrl-a': 'atomizr:toggle-atom-format'
  'ctrl-a ctrl-s': 'atomizr:convert-atom-to-sublime-text'
  'ctrl-a ctrl-t': 'atomizr:convert-atom-to-textmate'
  'ctrl-a ctrl-v': 'atomizr:convert-atom-to-visual-studio-code'
  'ctrl-c ctrl-c': 'atomizr:automatic-conversion'
  'ctrl-s ctrl-a': 'atomizr:convert-sublime-text-to-atom'
  'ctrl-s ctrl-s': 'atomizr:toggle-sublime-sublformat'
  'ctrl-s ctrl-t': 'atomizr:convert-sublime-text-to-textmate'
  'ctrl-s ctrl-v': 'atomizr:convert-sublime-text-to-visual-studio-code'
  'ctrl-t ctrl-a': 'atomizr:convert-textmate-to-atom'
  'ctrl-t ctrl-s': 'atomizr:convert-textmate-to-sublime-text'
  'ctrl-t ctrl-v': 'atomizr:convert-textmate-to-visual-studio-code'
  'ctrl-v ctrl-a': 'atomizr:convert-visual-studio-code-to-atom'
  'ctrl-v ctrl-s': 'atomizr:convert-visual-studio-code-to-sublime-text'
  'ctrl-v ctrl-t': 'atomizr:convert-visual-studio-code-to-textmate'
'.platform-linux atom-text-editor, .platform-linux .tree-view, .platform-win32 atom-text-editor, .platform-win32 .tree-view':
  'ctrl-alt-a ctrl-alt-a': 'atomizr:toggle-atom-format'
  'ctrl-alt-a ctrl-alt-s': 'atomizr:convert-atom-to-sublime-text'
  'ctrl-alt-a ctrl-alt-t': 'atomizr:convert-atom-to-textmate'
  'ctrl-alt-a ctrl-alt-v': 'atomizr:convert-atom-to-visual-studio-code'
  'ctrl-alt-c ctrl-alt-c': 'atomizr:automatic-conversion'
  'ctrl-alt-s ctrl-alt-a': 'atomizr:convert-sublime-text-to-atom'
  'ctrl-alt-s ctrl-alt-s': 'atomizr:toggle-sublime-sublformat'
  'ctrl-alt-s ctrl-alt-t': 'atomizr:convert-sublime-text-to-textmate'
  'ctrl-alt-s ctrl-alt-v': 'atomizr:convert-sublime-text-to-visual-studio-code'
  'ctrl-alt-t ctrl-alt-a': 'atomizr:convert-textmate-to-atom'
  'ctrl-alt-t ctrl-alt-s': 'atomizr:convert-textmate-to-sublime-text'
  'ctrl-alt-t ctrl-alt-v': 'atomizr:convert-textmate-to-visual-studio-code'
  'ctrl-alt-v ctrl-alt-a': 'atomizr:convert-visual-studio-code-to-atom'
  'ctrl-alt-v ctrl-alt-s': 'atomizr:convert-visual-studio-code-to-sublime-text'
  'ctrl-alt-v ctrl-alt-t': 'atomizr:convert-visual-studio-code-to-textmate'
